{% include 'layout.html' %}

<div class="container mt-5">
  <h1 class="text-center text-white">Personal Chatbot</h1>
  <div>
    <div class="card text-center mt-3">
      <div class="card-body chat-history" id="chatHistory">
        {% for response in chat_responses %}
        <div
          class="{{ 'chat-message user-input' if loop.index0 is even else 'chat-message ai-response' }}"
        >
          {{ response|safe }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container" id="footer">
    <div class="input-group mb-3">
      <input
        class="form-control input"
        placeholder="Add input here"
        name="user_input"
        rows="3"
        id="userInput"
      />
      <button class="btn btn-primary" type="submit" id="sendButton">
        Send
      </button>
    </div>
  </div>
</div>

<script>
  const chatScroll = document.querySelector(".chat-history");
  var websocketString = "";
  if (window.location.hostname === "127.0.0.1") {
    websocketString = "ws://localhost:8000/ws";
  } else {
    websocketString = `wss://${window.location.hostname}/ws`;
  }

  var ws = new WebSocket(websocketString);

  var sendButton = document.getElementById("sendButton");
  var userInput = document.getElementById("userInput");
  var chatHistory = document.getElementById("chatHistory");
  var lastUserMessageDiv = null;
  var isNewUserInput = true;

  ws.onmessage = function (event) {
    var message = event.data.trim();

    if (lastUserMessageDiv && !isNewUserInput) {
      var shouldAddSpace = true;
      var noPrependSpaceChars = [",", ".", "!", "?", ";", ":", "'", "-"];

      if (noPrependSpaceChars.includes(message.charAt(0))) {
        shouldAddSpace = false;
      }

      // Fix common word splits and number formatting
      // Regex to remove spaces between digits and between characters in words
      message = message.replace(/(\d)\s+(\d)/g, "$1$2"); // Fix "201 8" to "2018"
      message = message.replace(/([a-zA-Z])\s+([a-zA-Z])/g, "$1$2"); // Fix "Man u" to "Manu"

      // Fix additional unwanted spaces by replacing multiple spaces with one
      message = message.replace(/\s+/g, " ").trim(); // Normalize multiple spaces to one

      lastUserMessageDiv.textContent += (shouldAddSpace ? " " : "") + message;
    } else {
      var messageDiv = document.createElement("div");
      messageDiv.className = "chat-message ai-response";
      messageDiv.textContent = message;
      chatHistory.appendChild(messageDiv);
      lastUserMessageDiv = messageDiv;
      isNewUserInput = false;
    }

    chatScroll.scrollTop = chatHistory.scrollHeight;
  };

  sendButton.onclick = function () {
    var message = userInput.value.trim();
    if (message) {
      var userInputDiv = document.createElement("div");
      userInputDiv.className = "chat-message user-input";
      userInputDiv.textContent = message;
      chatHistory.appendChild(userInputDiv);

      chatHistory.scrollTop = chatHistory.scrollHeight;
      ws.send(message);
      userInput.value = "";
      isNewUserInput = true;
      lastUserMessageDiv = null;
    }
  };
</script>
